name: Continuous Delivery

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - develop
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
    build_and_push:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v5
            -   name: Set up JDK 17
                uses: actions/setup-java@v4
                with:
                    java-version: '17'
                    distribution: 'temurin'
                    cache: maven
            -   name: Build application
                run: mvn clean package -DskipTests
            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3
            -   name: Login to Docker Hub
                uses: docker/login-action@v3
                with:
                    username: ${{ vars.DOCKER_USER }}
                    password: ${{ secrets.DOCKER_TOKEN }}
            -   name: Build and push Docker image
                uses: docker/build-push-action@v6
                with:
                    context: .
                    push: true
                    tags: ${{ vars.DOCKER_USER }}/gs-2-vr-ar-workspaces:latest
                    cache-from: type=registry,ref=${{ vars.DOCKER_USER }}/gs-2-vr-ar-workspaces:latest
                    cache-to: type=inline
